<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　商品情報参照</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  商品情報参照<br />
  <br />
  商品コード <br />
  <%- productData.code %><br />
  商品名<br />
  <%- productData.name %><br />
  価格<br />
  <%- productData.price %> 円<br />
  <br />
  <input type="button" onclick="history.back()" value="戻る">
</body>

</html>