<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　商品選択　エラー</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (sessionLogin) { %>
    <%- sessionStaffName %> さんログイン中<br />
    <br />
  <% } %>
  商品が選択されていません。<br />
  <a href="pro_list">戻る</a>
</body>

</html>