<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　スタッフ選択　エラー</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  スタッフが選択されていません。<br />
  <a href="staff_list">戻る</a>
</body>

</html>