<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　スタッフ削除</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  スタッフ削除<br />
  <br />
  <% if (sessionLogin) { %>
    <%- sessionStaffName %> さんログイン中<br />
    <br />
  <% } %>
  スタッフコード <br />
  <%- code %><br />
  スタッフ名<br />
  <%- name %><br />
  <br />
  このスタッフを削除してよろしいですか？<br />
  <br />
  <form method="post" action="staff_delete_done">
    <input type="hidden" name="code" value="<%- code %>">
    <input type="button" onclick="history.back()" value="戻る">
    <input type="submit" value="OK">
  </form>
</body>

</html>