<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　スタッフ情報参照</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  スタッフ情報参照<br />
  <br />
  スタッフコード <br />
  <%- staffData.code %><br />
  スタッフ名<br />
  <%- staffData.name %><br />
  <br />
  <form method="post" action="staff_edit_check">
    <input type="button" onclick="history.back()" value="戻る">
  </form>
</body>

</html>