<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　スタッフログイン　チェック</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  スタッフログイン<br />
  <br />
  スタッフコードかパスワードが間違っています。<br />
  <a href="staff_login">戻る</a>
</body>

</html>