<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　ショップ管理　ログアウト</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  ログアウトしました。<br />
  <a href="/staff_login/staff_login">ログイン画面へ</a>
</body>

</html>