<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　会員　ログアウト</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  ログアウトしました。<br />
  <a href="/shop/shop_list">商品一覧へ</a>
</body>

</html>