<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　ショップ　商品一覧</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (sessionMemberLogin) { %>
    ようこそ <%- sessionMemberName %> 様 <a href="member_logout">ログアウト</a><br />
  <% } else { %>
    ようこそ ゲスト 様<a href="member_login" style="margin-left: 16pt;">会員ログイン</a><br />
  <% } %>
  <br />
  商品一覧<br /><br />
  <% if (cart && cart.length > 0) { %>
    <% for (let i=0; i < cart.length; i++ ) { %>
      <%- cart[i].name %> --- <%- cart[i].price %> 円
      <% if (cart[i].gazou && cart[i].gazou.length > 0) { %>
        <img src="<%- '/images/' + cart[i].gazou %>" style="width: 80px; height: auto; border: 1px solid #000000;">
      <% } %>
      <br />
    <% } %>
  <% } %>
  <br />
  <input type="button" onclick="history.back()" value="戻る">
</body>

</html>