<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　ショップ　カート</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (sessionMemberLogin) { %>
    ようこそ <%- sessionMemberName %> 様 <a href="member_logout">ログアウト</a><br />
  <% } else { %>
    ようこそ ゲスト 様<a href="member_login.html" style="margin-left: 16pt;">会員ログイン</a><br />
  <% } %>
  <br />
  <% if (wasAddedToCart) { %>
    <% cart.forEach( (value, key) => { %>
      <%- value %><br />
    <% }); %>
    カートに追加しました。<br />
  <% } else { %>
    その商品はすでにカートに入っています。<br />
  <% } %>
  <br />
  <a href="shop_list">商品一覧に戻る</a>
</body>

</html>