<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　スタッフ追加　完了</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%= name %> さんを追加しました。<br />
    <a href="staff_list">戻る</a>
</body>

</html>