<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　スタッフ削除　完了</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    削除しました。<br />
    <br />
    <a href="staff_list">戻る</a>
</body>

</html>