<!DOCTYPE html>
<html>
  <head>
    <title>ろくまる農園　スタッフ追加</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      スタッフ追加<br />
      <br />
      <form method="post" action="staff_add_check">
          スタッフ名を入力してください。<br />
          <input type="text" name="name" style="width:200px"><br />
          パスワードを入力してください。<br />
          <input type="text" name="pass" style="width:100px"><br />
          パスワードをもう1度入力してください。<br />
          <input type="text" name="pass2" style="width:100px"><br />
          <br />
          <input type="button" onclick="history.back()" value="戻る">
          <input type="submit" balue="OK">
      </form>
  </body>
</html>
